<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/png" href="/images/192.png">
    <link rel="manifest" href="../manifest.json">
  </head>
  <body>
    <h1><%= title.userQuery %></h1>
    <p>Welcome to <%= title.userQuery %></p>
    
  </body>
</html>
